@use "./mixins" as m;
@import "mixins";
@import "variables";

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-image: url('./../img/stars-1845140_1920.jpg');
  background-size:auto;
  font-family: "Aboreto", system-ui;
}

h1 {
  font-size: 3em;
  color: $primaryLight;
  line-height: 1.1;
  margin-bottom: 2rem;
  margin-top: 2em;
}

h3{
  margin-top: 10px;
  color: $primaryDark;
}
h4{
  color: $primaryDark;
}

#info-text{
  color: $primaryLight;
}

#searchText{
  height: 2rem;
}

#container{
  max-width: 90%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#movie-searchContainer{
  display: flex;
  box-shadow: whitesmoke 0px 0px 10px;
  background-color: rgba(255, 255, 255, 0.2);
  @include m.for-size(desktop) {
    border-radius: 1%;
  }
}

#searchResults{
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  margin: 20px;
  flex-direction: column;
  align-items: center;
  width: 100%; 
  @include m.for-size(desktop) {
    flex-direction: row;
    justify-content: space-evenly;
  }
}


.movieContainer{
background-color: $primaryLight;
width: 320px; 
margin: 1rem;
cursor: pointer;
}

.movieContainer:hover{
  box-shadow: rgb(173, 2, 173) 0px 0px 80px;
  transition:0.3s;
}

#modal-info{
  display: none;
  background-color: #080309;
  position: fixed;
  z-index: 230;
  top: 20%;
  left: 25%;
  width: 55vw;
  height: 55vh;
  @include m.for-size(desktop) {
    height: 59vh;
    width: 46vw;
  }
}

.modal-title{
  color:$primaryLight;
  font-size: 2rem;
  font-weight: 700;
  margin-top: 1rem;
}

.movie-Plot{
  margin-top: 2rem;
  
}

.movie-Rating{
  font-weight: 700;
  color: gold;
}

.star-icon{
  width: 1rem;
}

.movie-actors{
margin-top: 1rem;
}

#close-modal-info{
color: $primaryLight;
position: fixed;
font-size: 1.4em;
top: 20%;
right: 20%;
cursor: pointer;
@include m.for-size(desktop) {
  top: 20%;
  right: 29%;
}
}

.movie-container-modal{
  margin: 10px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 20%;
  left: 25%;
  width: 45vw;
}

.movie-picture-modal{
  width: 60%;
}

.movie-info-container{
  background-color: #140D1D;
  margin: 10px;
  padding: 10px;
  min-width: 55%;
  border-radius: 1%;
  color: $primaryLight;
  box-shadow: whitesmoke 0px 0px 10px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #5f5f5f;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: $primaryLight;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

footer{
  color: $primaryLight;
  //position?
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  text-align: center;
}